* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #444;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
}

footer {
  background-color: #444;
  height: 100px;
  width: 100%;
}

.headerNav {
  display: flex;
  margin-bottom: 30px;
}

.navList {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  align-items: center;
  /* flex-basis: 100%; */
}

.subBanner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.featureSection {
  display: flex;
  align-items: start;
  padding-bottom: 30px;
}

.featureContent {
  
}
.featureScrollSection {
  height: 375px;
  overflow: scroll;
  padding-left: 10px;
}

.cta {
  width: 200px;
  height: 25px;
  margin-left: 10px;
  
}


.heroImage {
  padding-bottom: 30px;
}
